@import url(css/reset.css);
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
.header {
	width: 1440px;
	height: 200px;
	background-color: #E5E000;
	line-height: 200px;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	font-size: 50px;
}
.header p {
	position: relative;
	left: 80px;
}

.image-header {
	width: 1440px;
	height: 1080px;
	left: 0px;
	top: 200px;
	background-size: cover;
}

.links {
	width: 1440px;
	height: 100px;
	top: 1280px;
	background-color: #E5E000;
	line-height: 100px;
}
.text {
	position: relative;
	left: 80px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
	text-transform: uppercase;
	color: white;
}
.lending {
	width: 1280px;
	top: 1490px;
}
.lending p {
	position: relative;
	font-family: Helvetica;
	left: 80px;
	font-size: 50px;
	line-height: 57px;
	color: #000000;	
}
.footer {
	width: 1440px;
	height: 200px;
	left: 0px;
	top: 2227px;
	line-height: 200px;
	background: #E5E000;
}
.img-footer {
	position: relative;
	left: 80px;
	color: #FFFFFF;
}



